{% load static %}
{% if user.is_superuser %}
<!DOCTYPE html>
<html lang="en-us" dir="ltr">
<head>
    <title>List Of Students</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">

    <script src="/static/admin/js/nav_sidebar.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">
    <script src="/admin/jsi18n/"></script>
    <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script src="/static/admin/js/jquery.init.js"></script>
    <script src="/static/admin/js/core.js"></script>
    <script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script src="/static/admin/js/actions.js"></script>
    <script src="/static/admin/js/urlify.js"></script>
    <script src="/static/admin/js/prepopulate.js"></script>
    <script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

</head>


<body class=" app-students model-student change-list"
  data-admin-utc-offset="0">

<!-- Container -->
    <div id="container">


        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="/admin/">Student List</a></h1>
            </div>

            <div id="user-tools">

                Welcome,
                <strong>testuser</strong>.
                <a href="/admin/">View Admin</a> /
                <a href="/admin/password_change/">Change password</a> /
                <a href="/admin/logout/">Log out</a>

            </div>
        </div>
        <!-- END Header -->

        <div class="breadcrumbs">
            <a href="">Home</a>
        </div>

        <div class="main" id="main">
            <div class="content">

            <!-- Content -->
            <div id="content" class="">

              <h1>List Of Students</h1>
                <div id="content-main">
                    <ul class="object-tools">
                        <li>
                            <a href="/admin/students/student/add/" class="addlink">Add student</a>
                        </li>
                    </ul>

                    <div class="module" id="changelist">
                    <div class="changelist-form-container">


                        <form method="get" action=".">
                            <div>

                                <div>
                                    <div>
                                        <input placeholder="Search By Name" type="text" name="name_or_surname">
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <select id="category" name="grade_class">
                                        <option>Choose Class...</option>
                                        {% for classes in gc %}
                                        <option value="{{ classes }}">{{ classes }}</option>
                                        {% endfor %}
                                    </select>

                                    <select id="category" name="sex">
                                        <option>Choose Sex...</option>
                                        <option value="Female">Female</option>
                                        <option value="Male">Male</option>
                                    </select>
                                </div>
                            </div>

                                <input type="submit" value="Search">
                                <input type="button" id="btnExport" value="Export" class="default">
                        </form>


                        <form id="changelist-form" method="post" novalidate>
                            <input type="hidden" name="csrfmiddlewaretoken"
                                   value="Ej4zwMe57xDtGkWnVu1dno7WFVrsSCKBAPqiwkKZZGmQ8Up3pIwlx2h2dK7lTk7P">

                            <div class="actions">
                                <label>Action: <select name="action" required>
                                    <option value="" selected>---------</option>
                                    <option value="delete_selected">Delete selected students</option>
                                    </select>
                                </label>
                                <input type="hidden" name="select_across" value="0" class="select-across">
                                <button type="submit" class="button" title="Run the selected action"
                                        name="index" value="0">Go
                                </button>
                            </div>




                            <div class="results">
                                <table id="result_list">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="action-checkbox-column">
                                               <div class="text">
                                                   <span>
                                                       <input type="checkbox" id="action-toggle">
                                                   </span>
                                               </div>
                                               <div class="clear"></div>
                                            </th>

                                            <th scope="col" class="sortable column-name">
                                                <div class="text"><a href="?o=1.3.4.2">Name</a></div>
                                               <div class="clear"></div>
                                            </th>

                                            <th scope="col">
                                                <div class="text"><a href="?o=-2.3.4">Surname</a></div>
                                               <div class="clear"></div>
                                            </th>

                                            <th scope="col">
                                                <div class="text"><a href="?o=-3.4.2">Grade class</a></div>
                                               <div class="clear"></div>
                                            </th>

                                            <th scope="col">
                                                <div class="text"><a href="?o=-4.3.2">Sex</a></div>
                                                <div class="clear"></div>
                                            </th>

                                            <th scope="col" class="sortable column-dob">
                                               <div class="text"><a href="?o=5.3.4.2">Dob</a></div>
                                               <div class="clear"></div>
                                            </th>

                                            <th scope="col" class="sortable column-house_no">
                                               <div class="text"><a href="?o=6.3.4.2">Address</a></div>
                                               <div class="clear"></div>
                                            </th>

                                            <th scope="col" class="sortable column-phone1">
                                               <div class="text"><a href="?o=7.3.4.2">Phone Number</a></div>
                                               <div class="clear"></div>
                                            </th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                        {% for student in queryset %}
                                            <tr>
                                                <td class="action-checkbox">
                                                    <input type="checkbox" name="_selected_action"
                                                           value="{{ student.id }}" class="action-select">
                                                </td>
                                                <th class="field-name">
                                                    <a href="{% url 'details' student.pk %}">
                                                        {{ student.name }}
                                                    </a>
                                                </th>
                                                <td class="field-surname">{{ student.surname }}</td>
                                                <td class="field-grade_class nowrap">
                                                    {{ student.grade_class }}
                                                </td>
                                                <td class="field-sex">
                                                    {{ student.sex }}
                                                </td>
                                                <td class="field-dob nowrap">{{ student.dob }}</td>
                                                <td class="field-house_no">
                                                    {{ student.house_no }} {{ student.location }}
                                                </td>
                                                <td class="field-phone1">{{ student.phone1 }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <br class="clear">
            </div>
            <!-- END Content -->
            <div id="footer"></div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'html2canvas.min.js' %}"></script>

    <script type="text/javascript">
        $("body").on("click", "#btnExport", function () {
            html2canvas($('#result_list')[0], {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 575,
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("student-list.pdf");
                }
            });
        });
    </script>

<!-- END Container -->
</body>
</html>
{% else %}

<!DOCTYPE html>
<html lang="en-us" dir="ltr">
<head>
    <title>Log In | Django site admin</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
    <script src="/static/admin/js/nav_sidebar.js" defer></script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class="" data-admin-utc-offset="0">

    <!-- Container -->
    <div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/admin/">Django administration</a></h1>
        </div>
    </div>

    <!-- END Header -->
    <div class="breadcrumbs"><a href="/admin/">Home</a></div>
    <div class="main shifted" id="main">
      <div class="content">

        <!-- Content -->
        <div id="content" class="colM">
          <h1>You are not logged in</h1>

            <p>You are required to Login first.</p>

            <p><a href="/admin/">Log In</a></p>
            <br class="clear">

        </div>

        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
    </div>




{% endif %}